@using DailyPlanner.Services
@inject TaskService TaskService

<div class="container">
    <div class="task-details">
        <div class="check-box">
            <input type="checkbox" id="checkbox-@Id" checked="@IsDone" @onchange="OnDoneChange" />
            <label for="checkbox-@Id"></label>
        </div>

        <div class="task-content">
            <input @bind="_title" class="title @(IsDone ? "completed" : "")" placeholder="Title (required)"
                disabled="@IsDone" />
            <input @bind="_desc" class="description @(IsDone ? "description-completed" : "")"
                placeholder="+ Add Description" disabled="@IsDone" />
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-primary" @onclick="OnDeleteClick">Delete</button>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> TitleChanged { get; set; }

    private string _title
    {
        get => Title;
        set
        {
            if (!string.IsNullOrWhiteSpace(value) && Title != value)
            {
                Title = value;
                TitleChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter] public string Desc { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> DescChanged { get; set; }

    private string _desc
    {
        get => Desc;
        set
        {
            if (Desc != value)
            {
                Desc = value;
                DescChanged.InvokeAsync(value);

                _ = TaskService.UpdateDescription(Id, value);
            }
        }
    }

    [Parameter] public bool IsDone { get; set; }
    [Parameter] public EventCallback<bool> IsDoneChanged { get; set; }

    [Parameter] public EventCallback<int> OnToggle { get; set; }
    [Parameter] public EventCallback<int> OnDelete { get; set; }

    private async Task OnDoneChange(ChangeEventArgs e)
    {
        IsDone = (bool)e.Value!;
        await IsDoneChanged.InvokeAsync(IsDone);
        if (OnToggle.HasDelegate) await OnToggle.InvokeAsync(Id);
    }

    private async Task OnDeleteClick()
    {
        if (OnDelete.HasDelegate) await OnDelete.InvokeAsync(Id);
    }
}